/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
  }

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    margin-top: 60px;
    font-size: 18px;
  }